{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Bootstrap core CSS     -->
    <link href="{% static 'css/bootstrap.min.css'  %}" rel="stylesheet" />
    <link href="{% static 'css/slider.css'  %}" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="{% static 'css/light-bootstrap-dashboard.css' %}" rel="stylesheet"/>

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{% static 'css/demo.css'%}" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/pe-icon-7-stroke.css'%}" rel="stylesheet" />
    <meta charset="utf-8">
	<link rel="stylesheet" href="{% static 'index/css/reset.css' %}" type="text/css" media="all">
	<link rel="stylesheet" href="{% static 'index/css/layout.css' %}" type="text/css" media="all">
	<link rel="stylesheet" href="{% static 'index/css/style.css' %}" type="text/css" media="all">

	<script type="text/javascript" src="{% static 'index/js/jquery-1.6.js' %}"></script>
	<script type="text/javascript" src="{% static 'index/js/jquery.easing.1.3.js' %}"></script>
	<script type="text/javascript" src="{% static 'index/js/tms-0.3.js' %}"></script>
	<script type="text/javascript" src="{% static 'index/js/tms_presets.js' %}"></script>
	<script type="text/javascript" src="{% static 'index/js/script.js' %}"></script>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <style>
        .modal {
            text-align: center;
        }

        @media screen and (min-width: 768px) { 
          .modal:before {
            display: inline-block;
            vertical-align: middle;
            content: " ";
            height: 100%;
          }
        }

        .modal-dialog {
          display: inline-block;
          text-align: left;
          vertical-align: middle;
        } 

        #legend {
          font-family: Arial, sans-serif;
          background: #fff;
          padding: 10px;
          margin: 10px;
          border: 3px solid #000;
        }
        #legend h3 {
          margin-top: 0;
        }
        #legend img {
          vertical-align: middle;
        }
        .card{
        	margin-top: 50px;
        }
    </style>
</head>

<body id="page1">

	<div class="body1">
	  <div class="main">
	    <!--header -->
	    <header>
	      <div class="wrapper">
		<h1><a href="../index/home" id="logo">Farm Buddy Farmer's Portal</a></h1>
		<nav>
		  <ul id="menu">
		    <li><a href="https://kisan-vikas.herokuapp.com/index/home">Home</a></li>
		    <!--<li><a href="products.html">Products</a></li>-->
		    <!--<li><a href="../index/technology">Login</a></li>-->
		    <li><a href="https://kisan-vikas.herokuapp.com/index/household">Data Analytics</a></li>
            	<li><a href="https://kisan-vikas.herokuapp.com/index/wells">3D Visualization</a></li>
            	<li><a href="https://kisan-vikas.herokuapp.com/index/faq">FAQ</a></li>
            	<li><a href="https://kisan-vikas.herokuapp.com/index/contactus">Contact Us</a></li>
		    
		  </ul>
		</nav>
				      	
	      </div>
			<div style="font-size:4em;font-weight:bold; margin-top:-300px;margin-left:50px;">Data Analytics and Visualization</div>
	     </header>
	     		<div  class="content" style="z-index:-1">	<!--On overall -->
			  		<div class="container-fluid">
			    		<div class="row">
			      			<div class="col-md-12" >
								<div class="card " >
				  					<div class="header">
				    					<h4 class="title"><p id="demo"></p> Crop Yield</h4>
				  					</div>
				  					<div class="content">
				    					<div id="myDiv" class="ct-chart"></div>
				    						<div class="footer">
				      		
				      						<div id="slidecontainer">
												<input type="range" min="2005" max="2017" style="width:100%" value="2017" class="slider" id="myRange">
											<p>Value: <span id="dem"></span></p>
				      						</div>
				    					</div>
				  					</div>
								</div>
			      			</div>
			    		</div>
						<script>
							var crops=[]
							var yield=[]
							/*var landprices=[]
							var years=[]
							$.getJSON( "../../static/json/landprice.json", function( datas ){ 
								for (var i=0; i<datas.length;i++)
								{  
									if (landprices.indexOf(datas[i].price)==-1)
									{
									    landprices.push(datas[i].price)
									}
								}
							for (var i=0; i<datas.length;i++)
							{  
								if (years.indexOf(datas[i].year)==-1)
								{
									years.push(datas[i].year)
								}
							}*/
						    $.getJSON( "../../static/json/crop.json", function( datas ){ 
						     	var plot = []
						    	for (var i=0; i<datas.length;i++)
						      	{  
							        if (crops.indexOf(datas[i].Crop)==-1)
							        {
							          crops.push(datas[i].Crop)
							        }
						      	}
						  		for (var i=0; i<datas.length;i++)
						  		{  
							        if (yield.indexOf(datas[i].Yield)==-1)
							        {
							          yield.push(datas[i].Yield)
						        	}
						      	}
						      console.log("Crops"+crops);
						      console.log("Extent"+yield);
    							/*var data = [{
	  								x: years,
									y: price,
									type: 'bar'
								}];*/
    							var data = [{
	  								x: crops,
									y: yield,
									type: 'bar'
								}];
								var layout = {
								  title: 'Total Yield of Different Crops in a Year in Tons ',
								  font:{
								    family: 'Raleway, snas-serif'
								  },
								  showlegend: false,
								  xaxis: {
								    tickangle: -45
								  },
								  yaxis: {
								    zeroline: false,
								    gridwidth: 2
								  },
								  bargap :0.05
								};

								Plotly.newPlot('myDiv', data, layout);
							});	
  						</script>
  					<!--	//////////////////////////////////fake/////////////   -->
  					<div class="row">
			      			<div class="col-md-12" >
								<div class="card " >
				  					<div class="header">
				    					<h4 class="title"><p id="demo"></p> Land Price</h4>
				  					</div>
				  					<div class="content">
				    					<div id="myDiv1" class="ct-chart"></div>
				    						<div class="footer">
				      		
				      						<!--<div id="slidecontainer">
												<input type="range" min="2005" max="2017" style="width:100%" value="2017" class="slider" id="myRange">
											<p>Value: <span id="dem"></span></p>-->
				      						</div>
				    					</div>
				  					</div>
								</div>
			      			</div>
			    		</div>
						<script>
							var price1=[]
							var year1=[]
							var price2=[]
							var year2=[]
							var price3=[]
							var year3=[]
						    
						    $.getJSON( "../../static/json/landprice.json", function( datas ){ 
						     	if(datas[row].FID==1)
								{
									//console.log("inside compare"+i);
									if (price1.indexOf(datas[i].price)==-1)
									{
										price1.push(datas[i].price)
									}

									if (year1.indexOf(datas[i].year)==-1)
									{
										year1.push(datas[i].year)
									}
								}
								if(datas[row].FID==2)
								{
									//console.log("inside compare"+i);
									if (price2.indexOf(datas[i].price)==-1)
									{
										price2.push(datas[i].price)
									}

									if (year2.indexOf(datas[i].year)==-1)
									{
										year2.push(datas[i].year)
									}
								} 
								if(datas[row].FID==3)
								{
									//console.log("inside compare"+i);
									if (price3.indexOf(datas[i].price)==-1)
									{
										price3.push(datas[i].price)
									}

									if (year3.indexOf(datas[i].year)==-1)
									{
										year3.push(datas[i].year)
									}
								}  
						      console.log("Price"+ price1+" "+price2+" "+price3+" " );
						      console.log("Price"+ year1+" "+year2+" "+year3+" " );
    							/*var data = [{
	  								x: years,
									y: price,
									type: 'bar'
								}];*/
									trace1 = {
									  type: 'scatter',
									  x: year1,
									  y: price1,
									  mode: 'lines',
									  name: 'Red',
									  line: {
									    color: 'rgb(219, 64, 82)',
									    width: 3
									  }
									};

									trace2 = {
									  type: 'scatter',
									  x: year2,
									  y: price2,
									  mode: 'lines',
									  name: 'Blue',
									  line: {
									    color: 'rgb(55, 128, 191)',
									    width: 1
									  }
									};

									trace3 = {
									  type: 'scatter',
									  x: year3,
									  y: price3,
									  mode: 'lines',
									  name: 'yellow',
									  line: {
									    color: 'rgb(255, 217, 102)',
									    width: 1
									  }
									};
    							var data = [trace1, trace2, trace3];
								/*var layout = {
								  title: 'Total Yield of Different Crops in a Year in Tons ',
								  font:{
								    family: 'Raleway, snas-serif'
								  },
								  showlegend: false,
								  xaxis: {
								    tickangle: -45
								  },
								  yaxis: {
								    zeroline: false,
								    gridwidth: 2
								  },
								  bargap :0.05
								};*/

								Plotly.newPlot('myDiv1', data);
							});	
  						</script>


			    	<div class="row ">     <!--On slider -->
			      		<div class="card ">
							<div id="map" style="width:100%;height:800px;"class="col-md-12"></div>
							<div id="legend"><h3>Legend</h3></div>
							<div class="footer">
				  				<div class="legend"></div>
				  					<div id="slidecontainer" >
				    					<input type="range" min="2005" max="2017" style="width:100%" value="2017" class="slider" id="Range">
				    							<p>Value: <span id="value"></span></p>
				  					</div>
										<select id="season" style="height:30px;width:120px">
										<option selected value="1">Summer</option>
										<option value="2">Monsoon</option>
										<option value="3">Winter</option>
										</select>                     
							</div>
			      		</div>
			    	</div>
			  		</div>
				</div>
	
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"><!--On clicking -->
				<div class="modal-dialog">
			    	<div class="modal-content">
			      		<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="exampleModalLabel">Farm Details</h4>
			      		</div>
			      		<div class="modal-body">
			   				<div class="container-fluid">
			    				<div class="row">
									<div class="col-md-8" id="piechart"></div>
									<div class="col-md-4" id="farmdetails"></div>
			    				</div>
			   				</div>
			      		</div>
			      		<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      		</div>
			    	</div>
				</div>
			</div>

			<!-- Modal for lease lands -->
			<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true"><!--On clicking -->
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="exampleModalLabel1">Lease Farm Details</h4>
			      </div>
			      <div class="modal-body" >
			   <div class="container-fluid">
			    <div class="row">
			<div class="col-md-8" id="leasedetails"></div>
			    </div>
			   </div>
			      </div>
			      <div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			  </div>
			</div>

	   </div>
	</div>
	
	
</body>
<script src="{% static 'js/jquery.min.js' %}"></script>  
<script>
    var slider = document.getElementById("myRange");
    var output = document.getElementById("dem");
    output.innerHTML = slider.value;

    slider.oninput = function() {
        demo.initChartist(this.value);
        output.innerHTML = this.value;
    }
    var mapslider = document.getElementById("Range");
    var mapoutput = document.getElementById("value");
    mapoutput.innerHTML = mapslider.value;

    mapslider.oninput = function() {
        mapoutput.innerHTML = this.value;
    }
</script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> 	
<script src="{% static 'js/map.js' %}"></script> 

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCp8LvJ0F70f6K57rvaxrSBFBpff7hWIAI&callback=getLocation"></script>
    <!--   Core JS Files   -->
    <script src="{% static 'js/jquery-1.10.2.js'%}" type="text/javascript"></script>
   <!-- /home/kevin/Desktop/Itsclient/itsclient/static-->
    <script src="{% static 'js/bootstrap.min.js'%}" type="text/javascript"></script>

    <!--  Checkbox, Radio & Switch Plugins -->
    <script src="{% static 'js/bootstrap-checkbox-radio-switch.js'%}"></script>

    <!--  Charts Plugin -->
    <script src="{% static 'js/chartist.min.js'%}"></script>

    <!--  Notifications Plugin    -->
    <script src="{% static 'js/bootstrap-notify.js'%}"></script>

  
    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
    <script src="{% static 'js/light-bootstrap-dashboard.js'%}"></script>

    <!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
    <script src="{% static 'js/demo.js'%}"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            demo.initChartist(2017);
        });
    </script>
</html>
