{%load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>KisanVikas | FAQ</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'index/css/reset.css' %}" type="text/css" media="all">
<link rel="stylesheet" href="{% static 'index/css/layout.css' %}" type="text/css" media="all">
<link rel="stylesheet" href="{% static 'index/css/style.css' %}" type="text/css" media="all">

<script type="text/javascript" src="{% static 'index/js/jquery-1.6.js' %}"></script>
<script type="text/javascript" src="{% static 'index/js/jquery.easing.1.3.js' %}"></script>
<script type="text/javascript" src="{% static 'index/js/tms-0.3.js' %}"></script>
<script type="text/javascript" src="{% static 'index/js/tms_presets.js' %}"></script>
<script type="text/javascript" src="{% static 'index/js/script.js' %}"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="js/html5.js"></script>
<style type="text/css">#menu a, .bg, .bg2, #ContactForm a {behavior:url("../js/PIE.htc")}</style>
<![endif]-->
</head>
<body id="page4">
<div class="body1">
  <div class="main">
    <!--header -->
    <header>
      <div class="wrapper">
        <h1><a href="../index/home" id="logo">Agrox Agriculture Company</a></h1>
        <nav>
          <ul id="menu">
            <li><a href="https://kisan-vikas.herokuapp.com/index/home">Home</a></li>
		    <!--<li><a href="products.html">Products</a></li>-->
		    <!--<li><a href="../index/technology">Login</a></li>-->
	    <li><a href="https://kisan-vikas.herokuapp.com/index/household">Data Analytics</a></li>
            <li><a href="https://kisan-vikas.herokuapp.com/index/wells">3D Visualization</a></li>
            <li><a href="https://kisan-vikas.herokuapp.com/index/faq">FAQ</a></li>
            <li><a href="https://kisan-vikas.herokuapp.com/index/contactus">Contact Us</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- / header -->
    <!-- content -->
  </div>
</div>
<div class="body2">
  <div class="main">
    <article id="content2">
      <h2>Frequently Asked Questions</h2>
      <div class="wrapper">
        <div class="cols">
          <div class="wrapper">
            <!--<figure class="left marg_right1"><img src="images/page4_img1.jpg" alt=""></figure>-->
            <p> <span class="font1 color2">Question 1</span><br>
              <h4>Who should use the Kisan Vikas?</h4> </p>
          </div>
          <ul >
            <li>The Kisan Vikas has been developed for all farmers in India to help you determine if a consent to farm is requiredand to calculate your effective profit at Good management Practice.</li>
          </ul>
        </div>
        <div class="cols pad_left1">
          <div class="wrapper">
            <!--<figure class="left marg_right1"><img src="images/page4_img2.jpg" alt=""></figure>-->
            <p> <span class="font1 color2">Question 2</span><br>
             <h4> What is a Property?</h4> </p>
          </div>
          <ul >
            <li>Property means any contigous area of land, seperated by road or river, and owned by either one or more people and can be used as a operating unit. </li>
          </ul>
        </div>
        <div class="cols pad_left1">
          <div class="wrapper">
            <!--<figure class="left marg_right1"><img src="images/page4_img3.jpg" alt=""></figure>-->
            <p> <span class="font1 color2">Question 3</span><br>
              <h4>What is a Storage?</h4> </p>
          </div>
          <ul >
            <li>Area used for storing farmer's cultivated crops which options like cold storage, protection from pests and rodents.</li>
          </ul>
        </div>
      </div>
      <br>
      <div class="wrapper">
        <div class="cols">
          <div class="wrapper">
            <!--<figure class="left marg_right1"><img src="images/page4_img1.jpg" alt=""></figure>-->
            <p> <span class="font1 color2">Question 4</span><br>
             <h4> Question 4 </h4></p>
          </div>
          <ul >
            <li>Answer 4</li>
          </ul>
        </div>
        <div class="cols pad_left1">
          <div class="wrapper">
            <!--<figure class="left marg_right1"><img src="images/page4_img2.jpg" alt=""></figure>-->
            <p> <span class="font1 color2">Question 5</span><br>
             <h4> Question 5</h4> </p>
          </div>
          <ul >
            <li>Answer 5</li>
          </ul>
        </div>
        <div class="cols pad_left1">
          <div class="wrapper">
            <!--<figure class="left marg_right1"><img src="images/page4_img3.jpg" alt=""></figure>-->
            <p> <span class="font1 color2">Question 6</span><br>
              <h4>Question 6</h4> </p>
          </div>
          <ul >
            <li>Answer 6</li>
          </ul>
        </div>
      </div>

    </article>
    <!-- / content -->
  </div>
</div>
<div class="main">
  <!-- footer -->
  <footer>
    <div class="wrapper">
      <section class="col2">
        <div class="wrapper">
         <!-- <section class="col4">
            <h3>Follow Us </h3>
            <ul id="icons">
              <li><a href="#"><img src="images/icon1.jpg" alt=""><span>Facebook</span></a></li>
              <li><a href="#"><img src="images/icon2.jpg" alt=""><span>Twitter</span></a></li>
              <li><a href="#"><img src="images/icon3.jpg" alt=""><span>Linked In</span></a></li>
            </ul>
          </section>
          <section class="col4 pad_left1">
            <h3>Why Us </h3>
            <ul id="why_us">
              <li><a href="#">Sed perspiciatis unde </a></li>
              <li><a href="#">Omnis natus error</a></li>
              <li><a href="#">Voluptatem accusantium </a></li>
            </ul>
          </section>-->
        </div>
                <div id="footer_link">Copyright &copy; <a href="#">kisanvikas.iiits.ac.in</a><br> 
          Design by ITS_GROUP17.com</a><br>All Rights Reserved</div>
      </section>
      <!--<section class="col3 pad_left2">
        <h3>Email Us</h3>
        <form id="ContactForm" action="#">
          <div>
            <div class="wrapper"> <span>Your Name:</span>
              <div class="bg">
                <input type="text" class="input">
              </div>
            </div>
            <div class="wrapper"> <span>Your E-mail:</span>
              <div class="bg">
                <input type="text" class="input">
              </div>
            </div>
            <div class="textarea_box"> <span>Your Message:</span>
              <div class="bg2">
                <textarea name="textarea" cols="1" rows="1"></textarea>
              </div>
            </div>
            <a href="#">Submit</a> </div>
        </form>
      </section>-->
    </div>
    <!-- {%FOOTER_LINK} -->
  </footer>
  <!-- / footer -->
</div>
</body>
</html>
