<!DOCTYPE html>
<html>
{% load static %}
<link rel="stylesheet" href ="{% static 'Cesium-1.38/Build/Cesium/Widgets/widgets.css' %}"></link>
<style>
	html,body,#cesiumContainer{
		width: 100%;height: 100%;margin: 0;padding: 0;overflow: hidden;
	}
</style>
<head>
	

	<title>Wells</title>
</head>
<body>
<div id="cesiumContainer"></div>
<script src="{% static 'Cesium-1.38/Build/Cesium/Cesium.js' %}"></script>
<script src="{% static 'Cesium-1.38/Build/Cesium/Widgets/widgets.css' %}"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript">
$.getJSON( "../../static/json/well.json", function( data ) {
	var viewer = new Cesium.Viewer('cesiumContainer');
	for (row in data){

		var temp;
		if (data[row].average_yield<300){
			temp = Cesium.Color.BLUE.withAlpha(0.5);
		}
		else {
			temp = Cesium.Color.GREEN.withAlpha(0.5);
		}
		if (data[row].average_yield>400 && data[row].average_yield<600){
			temp = Cesium.Color.RED.withAlpha(0.5);
		}
		console.log(data[row].location.coordinates[0], data[row].location.coordinates[1]);
		console.log("hello");
		var greenCylinder = viewer.entities.add({
	    name : 'Yield : '+data[row].average_yield+'\n'+'Depth : '+data[row].depth,
	    position: Cesium.Cartesian3.fromDegrees(data[row].location.coordinates[0], data[row].location.coordinates[1], data[row].depth/2),
	    cylinder : {
	        length : data[row].depth*100,
	        topRadius : 5000,
	        bottomRadius : 5000,
	        material : temp,
	        outline : true,
	        outlineColor : Cesium.Color.DARK_GREEN
    }
	});
}
viewer.zoomTo(viewer.entities);
</script>
<script type="text/javascript">
$.getJSON( "../../static/json/storage.json", function( data ) {
	var viewer = new Cesium.Viewer('cesiumContainer');
	for (row in data){

		var temp;
		if (data[row].storage<9000){
			temp = Cesium.Color.BLUE.withAlpha(0.5);
		}
		else {
			temp = Cesium.Color.GREEN.withAlpha(0.5);
		}
		if (data[row].storage>9000 && data[row].storage<11000){
			temp = Cesium.Color.RED.withAlpha(0.5);
		}
		console.log(data[row].location.coordinates[0], data[row].location.coordinates[1]);
		console.log("hello");
		var greenCylinder = viewer.entities.add({
	    name : 'Yield : '+data[row].average_yield+'\n'+'Depth : '+data[row].depth,
	    position: Cesium.Cartesian3.fromDegrees(data[row].location.coordinates[0], data[row].location.coordinates[1], data[row].depth/2),
	    
	    cylinder : {
	        length : data[row].depth*100,
	        topRadius : 2000,
	        bottomRadius : 5000,
	        material : temp,
	        outline : true,
	        outlineColor : Cesium.Color.DARK_GREEN
    }
	});
}

	viewer.zoomTo(viewer.entities);
	
	/*
		var marker
		var well_icon = {
			url:"../../static/img/dug_well.png", // url
			scaledSize: new google.maps.Size(30, 30), // scaled size
			origin: new google.maps.Point(0,0), // origin
			anchor: new google.maps.Point(0, 0) // anchor
		};
			for (row in data){
						marker = new google.maps.Marker({
							position: new google.maps.LatLng(data[row].location.coordinates[1], data[row].location.coordinates[0]),
							map: map,
							icon:well_icon,
						});
						google.maps.event.addListener(marker, 'mouseover', (function(marker,row) {
							return function() {
							infowindow.setContent("<b>Depth : </b>"+data[row].depth+"<br> <br>"+" <b>Yield :</b> "+ data[row].average_yield+ "<br><br>" +'<img src="http://127.0.0.1:8002'+data[row].image+'">');
							infowindow.open(map, marker);
							}
						}
						)(marker, row));
						marker.setMap(map);
					}*/
	});
</script>
</body>
</html>
